.blog_view_list {
    margin-top: 25px;
}

.branding_area {
    border-top: 1px solid #EEEEEE;
}

.owl-theme .owl-controls {
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.blog_post_area1 .owl-theme .owl-controls {
    opacity: 1;
    visibility: visible;
}

.owl-theme:hover .owl-controls {
    visibility: visible;
    opacity: 1;
}

.related_products_area .owl-theme .owl-controls .owl-buttons>div {
    width: 40px;
    height: 40px;
    left: -40px;
}

.related_products_area .owl-theme .owl-controls .owl-buttons .owl-next {
    left: auto;
    right: -37px;
}

.related_products_area .owl-theme:hover .owl-controls {
    visibility: hidden;
    opacity: 0;
}

.owl-theme .owl-controls .owl-buttons>div {
    position: absolute;
    left: -50px;
    top: 53%;
    margin-top: -35px;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    left: auto;
    right: -30px;
}

.owl-theme .owl-controls .owl-buttons>div:after {
    content: "";
    background-color: #fff;
    border: 2px solid #222;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 4px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.owl-theme .owl-controls .owl-buttons>div:before {
    content: "";
    background: url(img/btn-slider.png) no-repeat 50% 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.owl-theme .owl-controls .owl-buttons .owl-next:before {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.owl-theme .owl-controls .owl-buttons>div:hover:after {
    background-color: #222
}

.blog_post_area .owl-theme .owl-controls .owl-buttons>div:before,
.blog_post_area1 .owl-theme .owl-controls .owl-buttons>div:before {
    background: url(img/btn-slider.png) no-repeat 50% 50%;
}

.blog_post_area .owl-theme .owl-controls .owl-buttons>div:after,
.blog_post_area1 .owl-theme .owl-controls .owl-buttons>div:after {
    background-color: transparent;
    border: 1px solid black;
}

.blog_post_area .owl-theme .owl-controls {
    opacity: 1;
    visibility: visible;
}

.blog_post_area .owl-theme .owl-controls .owl-buttons>div:hover:after,
.blog_post_area1 .owl-theme .owl-controls .owl-buttons>div:hover:after {
    background-color: orange!important;
    border: 1px solid orange;
}

.owl-theme .owl-controls .owl-buttons>div:hover:before {
    background: url(img/btn-slider3.png) no-repeat 50% 50%;
}

.owl-carousel .owl-pagination {
    bottom: 10px;
    position: absolute;
    left: 50%
}

.owl-carousel .owl-pagination div {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: transparent;
    border: 1px solid white;
    border-radius: 500px;
    margin: 0 5px
}

.owl-carousel .owl-pagination div.active {
    background: white;
}