body {
    background-position: center;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    color: #505050;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none
}

.a {
    font-weight: bold;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.forgot {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #dfdfdf
}

.padding-bottom-3x {
    padding-bottom: 72px !important
}

.card-footer {
    background-color: #fff
}

.btn {
    font-size: 13px
}

.btn_back:hover {
    text-decoration: none;
}

.btn_back {
    margin-left: 130px;
    font-style: italic;
    font-size: 14px;
}

.form-control {
    border: 3px solid #7a8086;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 3px solid #76b7e9;
    outline: 0;
    box-shadow: 0 0 0 0px #28a745
}